<html>
  <head>
    <title>Crowdsource Data</title>
    <link rel="stylesheet" href="materialize/css/materialize.min.css">
    <link rel="stylesheet" href="crowdsource.css">
    <script src="materialize/js/materialize.min.js"></script>
    <script type="text/javascript" src="/jquery.min.js"></script>
    <script type="text/javascript" src="/crowdsource.js"></script>
  </head>

  <body class="center">
    <h5>How much do you know railsApp?</h5>
    <p>Please spend this 10-15 minutes in your day when you're bored, wanted to crowdsource these file tagging! (Till EOD today - basically till I am connected to Office wifi!)</p>
    <div class="body-wrapper-div">
      <div class="row" id="github-handle-div">
          <div class="col s6 offset-s3">
            <div class="card" style="background-color: #0550f7;">
              <div class="card-content white-text">
                <span class="card-title">Github Handle</span>
                <input type="text" id="github-handle" name="crowdsourcing_github_handle" class="white-text"><br/><br/>
                <button id="submit-github-handle" class="waves-effect waves-light btn">Submit</button>
              </div>
            </div>
          </div>
      </div>
      <div class="row black-text" id="questions-complete-div" style="display: none;">
        <div class="col s10 offset-s1">
          <div class="card darken-2">
            <div class="card-content">
              <form id="crowdsource-form" data-question-id="2">
                <h3 id="crowdsource-question"></h3>
                <div id="crowdsource-form-content" class="black-text" style="display: inline-flex;">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
