.btn, .btn-large, .btn-small {
    background-color: #5aad30;
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #5aad30;
  -webkit-box-shadow: 0 1px 0 0 #5aad30;
          box-shadow: 0 1px 0 0 #5aad30;
}

.crowdsource-list-item {
    padding: 23px;
}

.body-wrapper-div {
    margin-top: 10%;
}

.btn, .btn-large {
    background-color: #5aad30;
}

.btn:hover, .btn-large:hover {
    opacity: 0.8;
    background-color: #5aad30;
}

.btn:focus, .btn-large:focus {
    background-color: #5aad30;
}

.btn-floating {
    background-color: #5aad30;
}

[type="radio"]:checked + label:after {
    border: 2px solid #5aad30;
    background-color: #5aad30;
}

[type="radio"].with-gap:checked + label:before {
    border-radius: 50%;
    border: 2px solid #5aad30;
}

label {
    color: black;
}

input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea {
  border-bottom: 1px solid white;
}